<ion-view view-title="Journey reports" class="noScrollOverflow grayBg">

    <ion-content class="has-header">

      <div class="item">
        <div class="row">
          <div class="col"><b>date</b></div>
          <div class="col"><b>route</b></div>
          <div class="col"><b>fare</b></div>
        </div>
      </div>

      <div class="list">
         <div class="item">
           <div class="row">
             <div class="col"><p>26/06/2016</p><p>12:00 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>20/06/2016</p><p>13.30 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>15/06/2016</p><p>12:18 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>12/06/2016</p><p>13:27 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>05/06/2016</p><p>12:07 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>01/06/2016</p><p>16:40 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>19/05/2016</p><p>15:33 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>14/05/2016</p><p>18:21 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>08/05/2016</p><p>17:15 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>04/05/2016</p><p>17:43 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>03/05/2016</p><p>17:36 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>02/05/2016</p><p>17:39 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
           <div class="smallDivider"></div>
           <div class="row">
             <div class="col"><p>01/05/2016</p><p>17:42 pm</p></div>
             <div class="col"><p>Innerkrems</p><p>Radenthein</p></div>
             <div class="col">&euro;&nbsp;2.20</div>
           </div>
         </div>
       </div>

    </ion-content>

</ion-view>
