<ion-view view-title="Scan Code">
  <ion-content class="has-header">

    <div ng-if="showScan" class="scan">

      <div class="bar bar-subheader" style="height:60px;">
        <div>Get on board and scan the code to start tracking your journey</div>
      </div>

      <div class="scanBg" ui-sref="journey-checkin">
        <div class="scanArea">
          <img src="img/qr.png" width="200">
        </div>
      </div>

    </div>

<!--
    <div>{{text}}</div>
    <p>{{batteryLevel}} %</p>
    <p>{{isPluggedIn}}</p>
    <div if-ng="gelocationData">
      <p>{{gelocationData.latlong[0]}}</p>
      <p>{{gelocationData.latlong[1]}}</p>
      <p>{{gelocationData.idwatch}}</p>
    </div>

    <button class="button button-positive" ng-click="scan()">
        scan
    </button>
    <button class="button button-balanced" ng-click="getCurrentPosition()">
      <div ng-if="gelocationData.idwatch !=''">
        stop watch gps
      </div>
      <div ng-if="gelocationData.idwatch ==''">
        start watch gps
      </div>
    </button>

-->
  </ion-content>
</ion-view>
