<ion-view view-title="Profile" class="profile noScrollOverflow">
  <ion-content>

    <div class="item item-avatar bar-header">
      <img style="" src="../img/adam.jpg">
      <h2>{{currentUser.firstName}} {{currentUser.lastName}} </h2>
      <img class="logo" src="../img/loguito.png" >
    </div>

    <div class="list">
      <a class="item item-icon-left" href="/#/journey-reports">
        <i class="icon ion-android-bus"></i>
        Journey reports
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-card"></i>
        Payment
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-pricetags"></i>
        Travel cards
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-bell"></i>
        Notifications
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-power"></i>
        Log out
      </a>


    </div>

  </ion-content>
</ion-view>
