/* Empty. Add your own CSS if you like */


.bar {
    background: rgb(13, 154, 156);
    color: white;
}

.bar.bar-subheader {
    top: 0;
    background: rgb(52, 52, 52);
}

 .bar-subheader > div {
    color: white;
    width: 200px;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    font-size: 13px;
}

.tab-item  > i { color: rgba(98, 98, 98, 0.6); }
.tab-item.tab-item-active > i { color: rgb(98, 98, 98); }

.scroll {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.noScrollOverflow .scroll {
    height: inherit;
    background: transparent;
}

.grayBg {
    background: rgb(216, 216, 216);
}

.yellowButton {
    color: #000;
    text-align: center;
    background: rgb(254, 218, 50);
    display: block;
    padding-top: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.scanBg {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scanBg .scanArea {
    width: 200px;
    height: 200px;
    background-color: red;
}

.ticket-header {
    background-image: url('../img/ticket-header.png');
    background-size: cover;
    position: relative;
    height: 160px;
}

.ticket-header .travel-desc {
    margin-top: 120px;
    text-align: center;
    color: white;
}

.item > small.legend { color: rgba(0,0,0, 0.4); text-transform: uppercase; font-size: 10px; }
.item > div.item-desc { color: black; font-size: 16px;}